
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESP update server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma-switch.min.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {{ moment.include_moment() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.whitelist') }}" class="navbar-item">
                                Whitelist
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.create') }}" class="navbar-item">
                                Create platform
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.upload') }}" class="navbar-item">
                                Upload file
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.users') }}" class="navbar-item">
                                Users
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered is-fluid">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="notification is-{% if category is defined and category == 'message' %}danger{% else %}{{category}}{% endif %}">
                    {{message}}
                    </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>ESP update server</strong> by M. van Noord, original by K. Stobbe. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and can be found on <a href="https://github.com/marcovannoord/esp-update-server">GitHub</a>.
          </p>
        </div>
      </footer>
</body>

</html>