<!-- templates/status.html -->

{% extends "layout.html" %}

{% block content %}
<h1 class="title">
  Users
</h1>
<h2 class="subtitle">
  Easy system to manage OTA updates for Espressif-based devices
</h2>


<section class="box">
  <div class="box">
    <h2 class="title has-text-grey-darker">Users</h2>
  </div>
  <div class="card">
    <div class="columns is-centered">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% if users %}
          {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{user.email}}</td>
            <td>{{user.admin}}</td>
            <td>
              <form name="toggle" action="{{ url_for('main.users') }}" id="toggleUser{{user.id}}" method="POST">
                <input type="hidden" name="_method" value="TOGGLE">
                <input type="hidden" name="_user" value="{{user.id}}">
                <input type="checkbox" name="_status", class="btn btn-link" {% if user.admin == true %} checked {% endif %}
                onclick="if (!confirm('Are you sure you want to make {{ user.name }} {% if user.admin == true %} Non-{% endif %} Admin ?')) { return false }$('#toggleUser{{user.id}}').submit();"></i>
              </form>
            </td>
            
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}